.App{
  text-align:center;
}
.container{
  background-color:lightblue;
  width:30%;
  margin:1rem auto;
  padding: 2rem;
}

.formStyle{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formStyle label,button{
 
 font-size: large;
}

.formStyle input{
  font-size: large;
  margin-bottom: 2rem;
}
.errorStyle{
  margin-top: -1rem;
  margin-bottom: 1rem;
  color:red
}
.labelStyle{
  margin-top: 1rem;
}

.buttonStyle{
  margin-top: 1rem;
  width:10%; 
}